main{
  width: 1100px;
  margin: auto;
  padding: 40px 0px;
  section{
    height: 320px;
    padding: 24px;
    border-radius: 8px;
    margin: 16px 0px;
  }
}
#primero{
  background-color: #883333;
}
#segundo{
  background-color: #608833;
}
#tercero{
  background-color: #338488;
}
#cuarto{
  background-color: #553388;
}