@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(65, 17, 49);
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
}
h1{
    font-weight: 200;
    font-size: 90px;
}
h1 span{
    font-family: "Josefin Slab", serif;
    color: pink;
    font-weight: 700;
}
h2{
    font-weight: 300;
    color: palevioletred;
}