html{
    scroll-behavior: smooth;
}
body{
    width: 768px;
    margin: auto;
    background-color: #412636;
    color: hsl(324, 26%, 90%);
    font-family: sans-serif;
    font-size: 24px;
    padding-bottom: 640px;
}
 a{
    color: #fff;
}
section{
    height: 320px;
    padding: 24px;
    border-radius: 8px;
    margin: 16px 0px;  
}
#primero{
    background-color: #883333;
}
#segundo{
    background-color: #608833;
}
#tercero{
    background-color: #338488;
}
#cuarto{
    background-color: #553388;
}